body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#pauseButton {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

body.dark-mode button {
  background-color: rgb(196, 0, 0);
}

body.dark-mode {
  background-color: black;
  color: white;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}
body.dark-mode canvas {
    border: 1px solid white;
}

.input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 60px;
}
input.dark-mode {
    border: 1px solid white;
}

.colorInput{
    padding: 2px, 2px, 2px, 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

input.dark-mode {
    border: 1px solid white;
}

#customization {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    }

#darkModeToggle {
    position: fixed;
    top: 70px;
    right: 70px;
    background: black;
    border: transparent;
    padding: 10px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

body.dark-mode #darkModeToggle {
  background: white;
  color: black;
}

#theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5em;
  background: red;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

body.dark-mode .back-button {
  background: rgb(199, 0, 0);
}
